<div>
  <input type="checkbox" id="system.settings.hideZeroAPSkills" name="system.settings.hideZeroAPSkills" value="true"
  {{#if (compare system.settings.hideZeroAPSkills "eq" "true")}}
    checked
  {{/if}}
  >
  <label for="system.settings.hideZeroAPSkills"> Hide Zero-Rank Skills?</label>
</div>

<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'Name'}}</div>
    <div class='item-aps'>{{localize 'APs'}}</div>
    {{#if showHeroPointCosts}}
    <div class='item-total-cost'>{{localize 'Total Cost'}}</div>
    {{/if}}
    <div class='item-controls'></div>
  </li>
  {{#each filteredSkills as |item id|}}
    <li class='item flexrow item-row
      {{#if item.system.aps}}bold{{/if}}
    ' data-item-id='{{item._id}}'>
      <div class='item-name'>
        <div class='item-image'>
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
        </div>
          {{#unless item.system.aps}}
            {{#if (compare item.system.useUnskilled '===' 'true')}}
        <a
          class='item-control d10 rollable' title='{{localize "Roll"}} {{item.name}} {{#if (compare item.system.aps '===' 0)}} (Unskilled){{/if}}'
          data-label="{{item.name}}" data-roll="1d10 + 1d10" 
              {{#if (compare item.system.aps '!==' 0)}}data-value="{{item.system.aps}}" {{/if}}
              {{#unless (compare item.system.aps '!==' 0)}} data-value="{{item.linkedAPs}}" {{/unless}}
          data-type="skill" data-link="{{item.system.link}}"
              {{#if (compare item.system.aps '===' 0)}}data-unskilled="true"{{/if}}
            >
              {{getSkillDisplayName item}}
            </a>
            {{/if}}
            {{#unless (compare item.system.useUnskilled '===' 'true')}}{{getSkillDisplayName item}}{{/unless}}
          {{/unless}}
          {{#if item.system.aps}}{{getSkillDisplayName item}}{{/if}}
      </div>
      <div class='item-aps'>
          {{item.system.aps}}
      </div>
      {{#if showHeroPointCosts}}
      <div class='item-total-cost'>
        {{#if item.system.aps}}
          {{item.system.totalCost}}
        {{/if}}
        {{#unless item.system.aps}}
          &mdash;
        {{/unless}}
      </div>
      {{/if}}
      <div class='item-controls'>
          {{#unless item.system.aps}}
            {{#if (compare item.system.useUnskilled '===' 'true')}}
        <a
          class='item-control d10 rollable' title='{{localize "Roll"}} {{item.name}} {{#if (compare item.system.aps '===' 0)}} (Unskilled){{/if}}'
          data-label="{{item.name}}" data-roll="1d10 + 1d10" 
        {{#if (compare item.system.aps '!==' 0)}}data-value="{{item.system.aps}}" {{/if}}
        {{#unless (compare item.system.aps '!==' 0)}} data-value="{{item.linkedAPs}}" {{/unless}}
          data-type="skill" data-link="{{item.system.link}}"
            {{#if (compare item.system.aps '===' 0)}}data-unskilled="true"{{/if}}
            >
              <img src="/systems/megs/assets/images/icons/d10grey-2.png" class="svg-icon" alt="Roll Unskilled"/>
            </a>
            {{/if}}
            {{#unless (compare item.system.useUnskilled '===' 'true')}}
          <img src="/systems/megs/assets/images/icons/transparent.png" class="svg-icon" />
            {{/unless}}
          {{/unless}}
          {{#if item.system.aps}}
        <a
          class='item-control d10 rollable' title='{{localize "Roll"}} {{item.name}} {{#if (compare item.system.aps '===' 0)}} (Unskilled){{/if}}'
          data-label="{{item.name}}" data-roll="1d10 + 1d10" 
        {{#if (compare item.system.aps '!==' 0)}}data-value="{{item.system.aps}}" {{/if}}
        {{#unless (compare item.system.aps '!==' 0)}} data-value="{{item.linkedAPs}}" {{/unless}}
          data-type="skill" data-link="{{item.system.link}}"
        {{#if (compare item.system.aps '===' 0)}}data-unskilled="true"{{/if}}
        >
          <img src="/systems/megs/assets/images/icons/d10blue.png" class="svg-icon" alt="Roll" />
        </a>
          {{/if}}
          <!-- TODO delete this for 1.0 -->
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type=item.name}}'
        >
          <i class='fas fa-trash'></i>
        </a>
        <!-- END TODO -->
      </div>
    </li>
  {{/each}}
</ol>
