<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
   <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

         <div class="resource flex-group-center">
          <label for="system.currentBody.ownerId" class="resource-label">Owner</label>
          <div>
            <select  class="resource-select"  name="system.ownerId" data-type="String">
            {{#select system.ownerId}}
              {{#each system.powerTypes as |powerType key|}}
            <option value="{{key}}">{{powerType}}</option>
              {{/each}}
            {{/select}}
            </select>
            </div>

        </div>       

        <!-- TODO linked item -->

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.currentBody.value" class="resource-label">{{system.currentBody.label}}</label>
          <div class="resource-content flexrow flex-center flex-between attribute-container">
            {{> plusMinusInput id='currentBody' classes='current-input' value=system.currentBody.value min=0 max=system.attributes.body.value hasValue=true}}
          </div>
        </div>

      </div>
    </div>
  </header>

 
  {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="abilities">{{localize 'Abilities'}}</a>
    <a class="item" data-tab="powers">{{localize 'Powers'}}</a>
    <a class="item" data-tab="skills">{{localize 'Skills'}}</a>
    <a class="item" data-tab="traits">{{localize 'Traits'}}</a>
    <a class="item" data-tab="gadgets">{{localize 'Gadgets'}}</a>
    <a class="item" data-tab="description">{{localize 'Description'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Abilities Tab --}}
    <div class="tab abilities" data-group="primary" data-tab="abilities">

    {{#each system.attributes as |attribute key|}}
      {{#if (isDivisor 3 @index)}}
       <section class="attributes grid grid-3col attributeRow">
      {{/if}}
          <div class="attribute flex-group-center">
            <label for="system.attributes.{{key}}.value" 
                class="resource-label {{#if (isDivisor 3 @index)}}rollable{{/if}} flexlarge align-left" 
                data-roll="1d10 + 1d10" data-label="{{attribute.label}}" data-tyoe="attribute"
                data-value="{{attribute.value}}" data-key="{{key}}">
              {{attribute.label}}
            </label>
            <div class="quantity attribute-input">
              <button class="minus" aria-label="Decrease" onClick="if (parseInt({{key}}Input.value) > 0)  {{key}}Input.value = parseInt({{key}}Input.value) - 1">&minus;</button>
              <input id="{{key}}Input" name="system.attributes.{{key}}.value" type="number" class="input-box" value="{{attribute.value}}" min="0" max=""  data-dtype="Number"/>
              <button class="plus" aria-label="Increase" onClick="{{key}}Input.value = parseInt({{key}}Input.value)+ 1 ">&plus;</button>
            </div>
          </div>
      {{#if (isDivisor 3 (sum @index 1))}}
        </section>
     {{/if}}
   {{/each}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <label for="system.biography" class="resource-label flexlarge align-left biography-label" data-label="{{system.biography}}">{{localize 'Description'}}</label>
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>

