{{#if title}}
<div class="megs-chat-title">
    {{title}}
</div>
{{/if}}
<details class="grid-span-2 megs-chat-roll">
    <div class="grid grid-2col megs-chat">
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">{{localize 'MEGS.ActionValue'}}</label>
            <div class="tooltip">
                {{actionValue}}
                <span class="tooltiptext narrow">
                    {{{actionValueInfo}}}
                </span>
            </div>
        </div>
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">{{localize 'MEGS.OpposingValue'}}</label>
            <div class="tooltip">
                {{opposingValue}}
                <span class="tooltiptext narrow">
                    {{{opposingValueInfo}}}
                </span>
            </div>
        </div>
        <div class="flex-group-center grid-span-2 chat-result">
            {{localize 'MEGS.Difficulty'}}: {{difficulty}}
        </div>
        <div class="flex-group-center grid-span-2 chat-result inverse">
            {{#each dice}}
                <div class="d10">{{this}}</div>
            {{/each}}
        </div>
        {{#if avRollSuccess}}
        <div class="flex-group-center grid-span-2 chat-result">
            {{columnShifts}} 
            {{#if isOneColumnShift}}
            {{localize 'MEGS.ColumnShift'}}
            {{/if}}
            {{#unless isOneColumnShift}}
            {{localize 'MEGS.ColumnShifts'}}
            {{/unless}}
        </div>
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">{{localize 'MEGS.EffectValue'}}</label>
            <div>{{effectValue}}</div>        
        </div>
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">{{localize 'MEGS.ResistanceValue'}}</label>
            <div>{{resistanceValue}}</div>        
        </div>
        <div class="flex-group-center grid-span-2 chat-result inverse">
            {{localize 'MEGS.EffectTableResult'}}: {{evResult}}
        </div>
        {{/if}}
    </div>
    <summary class="grid-span-2 no-arrow">
        <div class="grid grid-2col megs-chat">
            <div class="flex-group-center grid-span-2 chat-result 
            {{#if success}}
                {{#if (compare evResult '===' 'N')}}
                failure
                {{/if}}
                {{#unless (compare evResult '===' 'N')}}
                success
                {{/unless}}
            {{/if}} 
            {{#unless success}}failure{{/unless}}">
                {{result}}
            </div>
        </div>
    </summary>
</details>