{{#if title}}
<div class="megs-chat-title">
    {{title}}
</div>
{{/if}}
<details class="grid-span-2 megs-chat-roll">
    <div class="grid grid-2col megs-chat">
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">{{localize 'MEGS.ActionValue'}}</label>
            {{#if actionValueInfo}}
            <div class="tooltip">
                {{actionValue}}
                <span class="tooltiptext narrow">
                    {{{actionValueInfo}}}
                </span>
            </div>
            {{else}}
            <div>{{actionValue}}</div>
            {{/if}}
        </div>
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">{{localize 'MEGS.OpposingValue'}}</label>
            {{#if opposingValueInfo}}
            <div class="tooltip">
                {{opposingValue}}
                <span class="tooltiptext narrow">
                    {{{opposingValueInfo}}}
                </span>
            </div>
            {{else}}
            <div>{{opposingValue}}</div>
            {{/if}}
        </div>
        <div class="flex-group-center grid-span-2 chat-result">
            {{localize 'MEGS.Difficulty'}}: {{difficulty}}
        </div>
        <div class="flex-group-center grid-span-2 chat-result inverse">
            {{#each dice}}
                <div class="d10">{{this}}</div>
            {{/each}}
            = {{rollTotal}}
        </div>
        {{#if avRollSuccess}}
        <div class="flex-group-center grid-span-2 chat-result">
            {{#if columnShiftText}}
            <div class="tooltip">
                {{columnShifts}}
                {{#if isOneColumnShift}}
                {{localize 'MEGS.ColumnShift'}}
                {{else}}
                {{localize 'MEGS.ColumnShifts'}}
                {{/if}}
                <span class="tooltiptext narrow">
                    {{{columnShiftText}}}
                </span>
            </div>
            {{else}}
                {{columnShifts}} 
                {{#if (compare columnShifts '===' 1)}}
                {{localize 'MEGS.ColumnShift'}}
                {{else}}
                {{localize 'MEGS.ColumnShifts'}}
                {{/if}}
            {{/if}}
        </div>
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">{{localize 'MEGS.EffectValue'}}</label>
            <div>{{effectValue}}</div>        
        </div>
        <div class="flex-group-center chat-value">
            <label class="flexlarge align-left">{{localize 'MEGS.ResistanceValue'}}</label>
            <div>{{resistanceValue}}</div>        
        </div>
        <div class="flex-group-center grid-span-2 chat-result inverse">
            {{localize 'MEGS.EffectTableResult'}}: {{evResult}}
        </div>
        {{/if}}
    </div>
    <summary class="grid-span-2 no-arrow">
        <div class="grid grid-2col megs-chat">
            <div class="flex-group-center grid-span-2 chat-result 
            {{#if success}}
                {{#if (compare evResult '===' 'N')}}
                failure
                {{else}}
                success
                {{/if}}
            {{/if}} 
            {{#unless success}}failure{{/unless}}">
                {{result}}
            </div>
        </div>
    </summary>
</details>