<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    {{#if flags.megs.edit-mode}}
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    {{else}}
    <img class="profile-img" src="{{item.img}}" title="{{item.name}}"/>
    {{/if}}
    <div class="header-fields">

      {{!-- Item name --}}
      {{> "systems/megs/templates/item/parts/item-header-name.hbs"}}

      <div class="resources grid grid-2col">

        <div class="resource flex-group-center">
          <label for="system.baseCost" class="resource-label">{{localize 'MEGS.InitialCost'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          {{#if flags.megs.edit-mode}}
          <input type="text" name="system.baseCost" value="{{system.baseCost}}" data-dtype="Number"/>
          {{else}}
          <span>{{system.baseCost}}</span>
          {{/if}}
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.purchaseCost" class="resource-label">{{localize 'MEGS.PurchaseCost'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span>{{multiply system.baseCost 5}}</span>
          </div>
        </div>

      </div>
 
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'MEGS.Description'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">

    {{#if flags.megs.edit-mode}}
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    {{else}}
        <div class="description-text">{{{system.description}}}</div>
    {{/if}}

    </div>
  </section>
</form>
