<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <div class="resources grid grid-4col">
      {{#if isRollable}}
        <div class="grid-span-3">
      {{/if}}
      {{#unless isRollable}}
        <div class="grid-span-4">
      {{/unless}}
          <h1 class="charname">
        {{#if system.parent}
          {{item.name}}
        {{/else}}
            <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        {{/if}}
          </h1>
        </div>
      {{#if isRollable}}
        <div class="d10 grid-span-1 rollable
          {{#if isUnskilled}}unskilled{{/if}}
              " data-label="{{item.name}}" data-roll="1d10 + 1d10" data-value="{{effectiveAPs}}" data-link="{{system.link}}"
          {{#unless isUnskilled}}
              data-unskilled="true"
          {{/unless}}
        >
          &nbsp;
        </div>
      {{/if}}
      </div>

      {{#unless skillHasRanks}}
        {{> "systems/megs/templates/item/parts/item-skill-calculator-header.hbs"}}
      {{/unless}}

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="characteristics">Characteristics</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab" data-group="primary" data-tab="characteristics">

      <section class="attributes grid grid-3col">

       <div class="attribute flex-group-center">
          <label for="system.linkedSkill" class="resource-label flexlarge align-left" data-label="{{localize 'MEGS.LinkedSkill'}}">
            {{localize 'MEGS.LinkedSkill'}}
          </label>
          <div>
          {{#if system.parent}}
            {{system.linkedSkill}}
          {{/if}}
          {{#unless system.parent}}
            <select  class="resource-select"  name="system.linkedSkill" data-type="String">
              {{#select system.linkedSkill}}
                  {{#each allSkills as |skill key|}}
                  <option  value="{{skill.name}}">{{skill.name}}</option>
                  {{/each}}
              {{/select}}
            </select>
          {{/unless}}
          </div>
       </div>

       <div class="attribute flex-group-center">
          <label for="system.range" class="resource-label flexlarge align-left" data-label="{{system.link}}">{{localize 'MEGS.LinkedAttribute'}}</label>
          <div>
              {{getSelectedSkillLink system.linkedSkill}}
          </div>
        </div>

       <div class="attribute flex-group-center">
          <label for="system.range" class="resource-label flexlarge align-left" data-label="{{system.range}}">{{localize 'MEGS.Range'}}</label>
          <div>
              {{getSelectedSkillRange system.linkedSkill}}
          </div>
        </div>

        <div class="attribute flex-group-center">
          <label for="system.type" class="resource-label flexlarge align-left" data-label="{{localize 'MEGS.Type'}}">{{localize 'MEGS.Type'}}</label>
           <div>
              {{getSelectedSkillType system.linkedSkill}}
          </div>
        </div>

        <div class="attribute flex-group-center">
          <label for="system.useUnskilled" class="resource-label flexlarge align-left" data-label="{{localize 'MEGS.UseUnskilled'}}">{{localize 'MEGS.UseUnskilled'}}</label>
          <div>
        {{#if system.parent}}
          {{#if (compare system.useUnskilled "===" "true")}}{{localize 'MEGS.Yes'}}{{/if}}
          {{#if (compare system.useUnskilled "===" "false")}}{{localize 'MEGS.No'}}{{/if}}
        {{/if}}
        {{#unless system.parent}}
            <select  class="resource-select"  name="system.useUnskilled" data-type="String">
              {{#select system.useUnskilled}}
                  <option  value="true">{{localize 'MEGS.Yes'}}</option>
                  <option  value="false">{{localize 'MEGS.No'}}</option>
              {{/select}}
            </select>
        {{/unless}}
          </div>
        </div>

      </section>

    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
        {{#if system.parent}}
          <div class="description-text">{{{system.description}}}</div>
        {{/if}}
        {{#unless system.parent}}
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
        {{/unless}}
    </div>
  </section>
</form>
