<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
 <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="120" width="120"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.currentBody.value" class="resource-label">{{system.currentBody.label}}</label>
          <div class="resource-content flexrow flex-center flex-between attribute-container">
            {{> plusMinusInput id='currentBody' classes='current-input' value=system.currentBody.value min=0 max=system.attributes.body.value hasValue=true}}
          </div>
        </div>

      {{#if (compare system.hasAttributes.mental "eq" "true")}}
        <div class="resource flex-group-center">
          <label for="system.currentMind.value" class="resource-label">{{system.currentMind.label}}</label>
          <div class="resource-content flexrow flex-center flex-between attribute-container">
            {{> plusMinusInput id='currentMind' classes='current-input' value=system.currentMind.value min=0 max=system.attributes.mind.value hasValue=true}}
          </div>
        </div>
      {{/if}}

      {{#if (compare system.hasAttributes.mystical "eq" "true")}}
        <div class="resource flex-group-center">
          <label for="system.currentSpirit.value" class="resource-label">{{system.currentSpirit.label}}</label>
          <div class="resource-content flexrow flex-center flex-between attribute-container">
            {{> plusMinusInput id='currentSpirit' classes='current-input' value=system.currentSpirit.value min=0 max=system.attributes.spirit.value hasValue=true}}
          </div>
        </div>
      {{/if}}

      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="abilities">{{localize 'Abilities'}}</a>
    {{#if (compare system.isOmni "!==" "true")}}
      {{#if (compare system.hasPowers "eq" "true")}}
      <a class="item" data-tab="powers">{{localize 'Powers'}}</a>
      {{/if}}
      {{#if (compare system.hasSkills "eq" "true")}}
      <a class="item" data-tab="skills">{{localize 'Skills'}}</a>
      {{/if}}
      {{#if (compare system.hasGadgets "eq" "true")}}
      <a class="item" data-tab="gadgets">{{localize 'Gadgets'}}</a>
      {{/if}}
      <a class="item" data-tab="description">{{localize 'Description'}}</a>
    {{/if}}
    <a class="item" data-tab="settings">{{localize 'Settings'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Abilities Tab --}}
    <div class="tab abilities" data-group="primary" data-tab="abilities">
      
      {{!-- Gadget values --}}
      <section class="gadget-properties grid grid-2coll border-bottom">
        <div class="gadget-property flex-group-center">
          <label for="system.actionValue" class="resource-label flexlarge align-left" data-label="{{localize 'Action Value'}}">{{localize 'Action Value'}}</label>
          {{> plusMinusInput id='actionValue' classes='attribute-input' min=0 value=system.actionValue}}
        </div>
        <div class="gadget-property flex-group-center">
          <label for="system.effectValue" class="resource-label flexlarge align-left" data-label="{{localize 'Effect Value'}}">{{localize 'Effect Value'}}</label>
          {{> plusMinusInput id='effectValue' classes='attribute-input' min=0 value=system.effectValue}}
        </div>

      </section>

      {{!-- Gadget attributes --}}
      <details>
        <summary class="item-summary">Attributes</summary>

      {{#each system.attributes as |attribute key|}}
        {{#if (isDivisor 3 @index)}}
        <section class="attributes grid grid-3col attributeRow">
        {{/if}}
            <div class="attribute flex-group-center">
              <label for="system.attributes.{{key}}.value" 
                  class="resource-label {{#if (isDivisor 3 @index)}}rollable{{/if}} flexlarge align-left" 
                  data-roll="1d10 + 1d10" data-label="{{attribute.label}}" data-tyoe="attribute"
                  data-value="{{attribute.value}}" data-key="{{key}}">
                {{attribute.label}}
              </label>
  <!-- TODO make this work with:         plusMinusInput id="attributes."+key classes='attribute-input' value=attribute.value -->
              <div class="quantity attribute-input">
                <button class="minus" aria-label="Decrease" onClick="if (parseInt({{key}}Input.value) > 0)  {{key}}Input.value = parseInt({{key}}Input.value) - 1">&minus;</button>
                <input id="{{key}}Input" name="system.attributes.{{key}}.value" type="number" class="input-box" value="{{attribute.value}}" min="0" max=""  data-dtype="Number"/>
                <button class="plus" aria-label="Increase" onClick="{{key}}Input.value = parseInt({{key}}Input.value)+ 1 ">&plus;</button>
              </div>
            </div>
        {{#if (isDivisor 3 (sum @index 1))}}
          </section>
      {{/if}}
    {{/each}}
      </details>

      {{!-- Gadget misc properties --}}
      <details>
        <summary class="item-summary">Miscellaneous</summary>
        <section class="gadget-properties grid grid-3col">
          <div class="gadget-property flex-group-center">
            <label for="system.quantity" class="resource-label flexlarge align-left" data-label="{{localize 'Quantity'}}">{{localize 'Quantity'}}</label>
            <div>
            {{> plusMinusInput id='quantity' classes='attribute-input' min=1 value=system.quantity}}
            </div>
          </div>
          
          <div class="gadget-property flex-group-center">
            <label for="system.isCarried" class="resource-label flexlarge align-left" data-label="{{localize 'Is Carried?'}}">{{localize 'Is Carried?'}}</label>
            <div>
            <select  class="resource-select"  name="system.isCarried" data-type="String">
              {{#select system.isCarried}}
                  <option value="true">{{localize 'Yes'}}</option>
                  <option value="false">{{localize 'No'}}</option>
              {{/select}}
            </select>
            </div>
          </div>
          
          <div class="gadget-property flex-group-center">
            <label for="system.canBeTakenAway" class="resource-label flexlarge align-left" data-label="{{localize 'Can Be Taken Away?'}}">{{localize 'Can Be Taken Away?'}}</label>
            <div>
            <select  class="resource-select"  name="system.canBeTakenAway" data-type="String">
              {{#select system.canBeTakenAway}}
                  <option value="false">{{localize 'No'}}</option>
                  <option value="true">{{localize 'Yes'}}</option>
              {{/select}}
            </select>
            </div>
          </div>
          
          <div class="gadget-property flex-group-center">
            <label for="system.hasHardenedDefenses" class="resource-label flexlarge align-left" data-label="{{localize 'Has Hardened Defenses?'}}">{{localize 'Has Hardened Defenses?'}}</label>
            <div>
            <select  class="resource-select"  name="system.hasHardenedDefenses" data-type="String">
              {{#select system.hasHardenedDefenses}}
                <option  value="false">{{localize 'No'}}</option>
                <option  value="true">{{localize 'Yes'}}</option>
              {{/select}}
            </select>
            </div>
          </div>

          {{!-- Gadget reliability --}}
          <div class="gadget-property flex-group-center">
            <label for="system.reliability" class="resource-label flexlarge align-left" data-label="{{localize 'Reliability'}}">{{localize 'Reliability'}}</label>
            {{> plusMinusInput id='reliability' classes='attribute-input' min=0 value=system.reliability}}
          </div>

          <div class="gadget-property flex-group-center">
            <label for="system.isBroken" class="resource-label flexlarge align-left" data-label="{{localize 'Is Broken?'}}">{{localize 'Is Broken?'}}</label>
            <div>
            <select  class="resource-select"  name="system.isBroken" data-type="String">
              {{#select system.isBroken}}
                  <option  value="false">{{localize 'No'}}</option>
                  <option  value="true">{{localize 'Yes'}}</option>
              {{/select}}
            </select>
            </div>
          </div>
        </section>
      </details>

    </div>

    {{!-- Owned Powers Tab --}}
    <div class="tab powers" data-group="primary" data-tab="powers">
      {{#unless hasActor}}
        <div class="message-panel">Due to technical limitations, Powers cannot be added to an unowned Gadget. Please add this Gadget to a character in order to add Powers.</div>
      {{/unless}}
      {{#if hasActor}}
      {{> "systems/megs/templates/actor/parts/actor-powers.hbs"}}
      {{/if}}
    </div>

    {{!-- Owned Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{#unless hasActor}}
        <div class="message-panel">Due to technical limitations, Skills cannot be added to an unowned Gadget. Please add this Gadget to a character in order to add Skills.</div>
      {{/unless}}
      {{#if hasActor}}
      {{> "systems/megs/templates/actor/parts/actor-skills.hbs"}}
      {{/if}}
    </div>

    {{!-- Traits Tab --}}
     <div class="tab traits" data-group="primary" data-tab="traits">
      {{#unless hasActor}}
        <div class="message-panel">Due to technical limitations, Traits cannot be added to an unowned Gadget. Please add this Gadget to a character in order to add Traits.</div>
      {{/unless}}
      {{#if hasActor}}
      {{> "systems/megs/templates/actor/parts/actor-traits.hbs"}}
      {{/if}}
    </div>

    {{!-- Owned gadgets Tab --}}
    <div class="tab gadgets" data-group="primary" data-tab="gadgets">
       {{> "systems/megs/templates/actor/parts/actor-gadgets.hbs"}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">

      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Settings Tab --}}
    <div class="tab settings" data-group="primary" data-tab="settings">
      <div>
        <input type="checkbox" id="system.isOmni" name="system.isOmni" value="true"
        {{#if (compare system.isOmni "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="system.isOmni"> Is Omni-Gadget?</label>
      </div>

      <hr/>
      <div>
        <input type="checkbox" id="system.hasAttributes.physical" name="system.hasAttributes.physical" value="true"
        {{#if (compare system.hasAttributes.physical "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="system.hasAttributes.physical"> Has physical attributes?</label>
      </div>
      <div>
        <input type="checkbox" id="system.hasAttributes.mental" name="system.hasAttributes.mental" value="true"
        {{#if (compare system.hasAttributes.mental "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="system.hasAttributes.mental"> Has mental attributes?</label>
      </div>
      <div>
        <input type="checkbox" id="system.hasAttributes.mystical" name="system.hasAttributes.mystical" value="true"
        {{#if (compare system.hasAttributes.mystical "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="system.hasAttributes.mystical"> Has mystical attributes?</label>
      </div>

      <hr/>

      <div>
        <input type="checkbox" id="system.weapon.isWeapon" name="system.weapon.isWeapon" value="true"
        {{#if (compare system.weapon.isWeapon "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="system.weapon.isWeapon"> Is a weapon?</label>
      </div>

      <div>
        <input type="checkbox" id="system.armor.isArmor" name="system.armor.isArmor" value="true"
        {{#if (compare system.armor.isArmor "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="system.armor.isArmor"> Is armor?</label>
      </div>

      <div>
        <input type="checkbox" id="system.vehicle.isVehicle" name="system.vehicle.isVehicle" value="true"
        {{#if (compare system.vehicle.isVehicle "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="system.vehicle.isVehicle"> Is a vehicle?</label>
      </div>

      <hr/>

      <div>
        <input type="checkbox" id="system.hasPowers" name="system.hasPowers" value="true"
        {{#if (compare system.hasPowers "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="system.hasPowers"> Has powers?</label>
      </div>

      <div>
        <input type="checkbox" id="system.hasSkills" name="system.hasSkills" value="true"
        {{#if (compare system.hasSkills "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="system.hasSkills"> Has skills?</label>
      </div>

      <div>
        <input type="checkbox" id="system.hasGadgets" name="system.hasGadgets" value="true"
        {{#if (compare system.hasGadgets "eq" "true")}}
          checked
        {{/if}}
        >
        <label for="system.hasGadgets"> Has gadgets?</label>
      </div>

    </div>

  </section>

</form>
