<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    {{#if flags.megs.edit-mode}}
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    {{else}}
    <img class="profile-img" src="{{item.img}}" title="{{item.name}}"/>
    {{/if}}
    <div class="header-fields">
      
      <div class="resources grid grid-4col">
      {{#if isRollable}}
        <div class="grid-span-3">
      {{else}}
        <div class="grid-span-4">
      {{/if}}

      {{!-- Item name --}}
      {{> "systems/megs/templates/item/parts/item-header-name.hbs"}}
        </div>
      {{#if isRollable}}
        <div class="d10 grid-span-1 rollable" data-type="Roll" data-uuid="{{item.uuid}}" data-label="{{item.name}}" data-roll="1d10 + 1d10" data-value="{{system.aps}}" data-link="{{system.link}}">&nbsp;</div>
      {{/if}}
      </div>
 
      {{#if showHeroPointCosts}}
      <div class="resources grid grid-4col">
      {{else}}
      <div class="resources grid grid-3col">
      {{/if}}

        <div class="resource flex-group-center">
          <label for="system.baseCost" class="resource-label">{{localize 'MEGS.Base'}}</label>
        {{#if flags.megs.edit-mode}}
          {{> plusMinusInput id='baseCost' classes='current-input' min=0 value=system.baseCost}}
        {{else}}
          <div>{{system.baseCost}}</div>
        {{/if}}
        </div>

        <div class="resource flex-group-center">
          <label for="system.factorCost" class="resource-label">{{localize 'MEGS.Factor'}}</label>
        {{#if flags.megs.edit-mode}}
          {{> plusMinusInput id='factorCost' classes='current-input' min=0 value=system.factorCost}}
        {{else}}
          <div>{{system.factorCost}}</div>
        {{/if}}
        </div>

        <div class="resource flex-group-center">
          <label for="system.aps" class="resource-label">{{localize 'MEGS.APs'}}</label>
        {{#if hasActor}}
          {{> plusMinusInput id='aps' classes='current-input' min=0 value=system.aps}}
        {{else}}
          <div class="resource-content flexrow flex-center flex-between">
            <span>&mdash;</span>
          </div>
        {{/if}}
        </div>

      {{#if showHeroPointCosts}}
        <div class="resource flex-group-center">
          <label for="system.totalCost" class="resource-label">{{localize 'MEGS.Total'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          {{#if hasActor}}
            <span>{{system.totalCost}}</span>
          {{else}}
            <span>&mdash;</span>
          {{/if}}
          </div>
        </div>
      {{/if}}

      </div>
 
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="characteristics">{{localize 'MEGS.Characteristics'}}</a>
    <a class="item" data-tab="description">{{localize 'MEGS.Description'}}</a>
    <a class="item" data-tab="modifiers">{{localize 'MEGS.Modifiers'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab" data-group="primary" data-tab="characteristics">

      <section class="attributes grid grid-3col">

        <div class="attribute flex-group-center">
          <label for="system.link" class="resource-label flexlarge align-left" data-label="{{localize 'MEGS.LinkedAttribute'}}">{{localize 'MEGS.Link'}}</label>
          <div>
        {{#if flags.megs.edit-mode}}
            <select  class="resource-select"  name="system.link" data-type="String">
                {{selectOptions system.attributesForLink selected=system.link localize=true}}
                <option  value="special"
                    {{#if (compare item.system.link "===" "special")}}selected{{/if}}
                >{{localize 'MEGS.Special'}}</option>
                <option  value="none"
                    {{#if (compare item.system.link "===" "none")}}selected{{/if}}
                >{{localize 'MEGS.None'}}</option>
            </select>
        {{else}}
          <span>{{getAttributeText system.link system.attributesForLink }}</span>
        {{/if}}
          </div>
        </div>

        <div class="attribute flex-group-center">
          <label for="system.isLinked" class="resource-label flexlarge align-left" data-label="{{localize 'MEGS.IsLinked'}}">{{localize 'MEGS.IsLinked'}}</label>
          <div>
        {{#if hasActor}}
          {{#if flags.megs.edit-mode}}
          <select  class="resource-select"  name="system.isLinked" data-type="String">
            {{selectOptions system.yesNoOptions selected=system.isLinked localize=true}}
          </select>
            {{else}}
                <span>{{trueFalseToYesNo system.isLinked}}</span>
            {{/if}}
        {{else}}
          {{localize 'MEGS.No'}}
        {{/if}}
          </div>
        </div>

       <div class="attribute flex-group-center">
          <label for="system.range" class="resource-label flexlarge align-left" data-label="{{system.range}}">{{localize 'MEGS.Range'}}</label>
          <div>
          {{#if flags.megs.edit-mode}}
            {{#if (compare system.range "eq" "numeric")}}
                <input name="system.rangeAPs" value="{{system.rangeAPs}}" data-dtype="number" class="numericSelected"/>
                <select class="resource-select numericSelected" name="system.range" data-type="string">
            {{else}}
                <select class="resource-select" name="system.range" data-type="string">
            {{/if}}
                    {{selectOptions system.ranges selected=system.range localize=true}}
                    <option value="varies">{{localize 'MEGS.Varies'}}</option>
                </select>
          {{else}}
            <span>{{system.range}}</span>
          {{/if}}
          </div>
        </div>

       <div class="attribute flex-group-center">
          <label for="system.type" class="resource-label flexlarge align-left" data-label="{{localize 'MEGS.Type'}}">{{localize 'MEGS.Type'}}</label>
          <div>
        {{#if flags.megs.edit-mode}}
            <select  class="resource-select"  name="system.type" data-type="String">
              {{selectOptions system.powerTypes selected=system.type localize=true}}
            </select>
        {{else}}
            <span>{{system.type}}</span>
        {{/if}}
        </div>
      </div>

        <div class="attribute flex-group-center">
          <label for="system.source" class="resource-label flexlarge align-left" data-label="{{localize 'MEGS.Source'}}">{{localize 'MEGS.Source'}}</label>
           <div>
        {{#if flags.megs.edit-mode}}
              <select  class="resource-select"  name="system.source" data-type="String">
              {{selectOptions system.powerSources selected=system.source localize=true}}
              </select>
        {{else}}
            <span>{{system.source}}</span>
        {{/if}}
          </div>
        </div>

        <div class="attribute flex-group-center">
          <label for="system.activateFree" class="resource-label flexlarge align-left" data-label="{{localize 'MEGS.ActivateFree'}}">{{localize 'MEGS.ActivateFree'}}</label>
          <div>
      {{#if flags.megs.edit-mode}}
        {{#if hasActor}}
          <select  class="resource-select"  name="system.activateFree" data-type="String">
            {{selectOptions system.yesNoOptions selected=system.activateFree localize=true}}
          </select>
        {{else}}
          {{localize 'MEGS.No'}}
        {{/if}}
      {{else}}
        <span>{{trueFalseToYesNo system.activateFree}}</span>
      {{/if}}
          </div>
        </div>
              
      </section>

    </div>
 
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Modifiers Tab --}}
    <div class="tab modifiers" data-group="primary" data-tab="modifiers">
      {{#if hasActor}}
      <div class="resources grid grid-2col">

          <div class="resource flex-group-center">
            <div class="grid-2col-header">Bonuses</div>
            <ol class='items-list'>
              <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'MEGS.Name'}}</div>
                <div class='item-controls'>
             {{#if flags.megs.edit-mode}}
                  <a
                    class='item-control item-create'
                    title='{{localize "DOCUMENT.Create" type='Bonus'}}'
                    data-type='bonus'
                  >
                    <i class='fas fa-plus'></i>
                    {{localize 'DOCUMENT.New' type='item'}}
                  </a>
                </div>
             {{/if}}
              </li>
              {{#each bonuses as |item id|}}
                <li class='item flexrow item-row' data-item-id='{{item._id}}'>
                  <div class='item-name'>
                    <div class='item-image'>
                      <a class='rollable' data-roll-type='item'>
                        <img
                          src='{{item.img}}'
                          title='{{item.name}}'
                          width='24'
                          height='24'
                        />
                      </a>
                    </div>
                    <a
                      class='item-control item-edit'
                      title='{{localize "DOCUMENT.Update" type='Item'}}'
                    >
                      {{item.name}}
                    </a>
                  </div>
                  <div class='item-controls'>
                    <a
                      class='item-control item-edit'
                      title='{{localize "DOCUMENT.Update" type='Item'}}'
                    >
                      <i class='fas fa-edit'></i>
                    </a>
             {{#if ../flags.megs.edit-mode}}
                    <a
                      class='item-control item-delete'
                      title='{{localize "DOCUMENT.Delete" type='Item'}}'
                    >
                      <i class='fas fa-trash'></i>
                    </a>
              {{/if}}
                  </div>
                </li>
              {{/each}}
            </ol>
          </div>

          <div class="resource flex-group-center">
            <div class="grid-2col-header">Limitations</div>
            <ol class='items-list'>
              <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'MEGS.Name'}}</div>
                <div class='item-controls'>
             {{#if flags.megs.edit-mode}}
                  <a
                    class='item-control item-create'
                    title='{{localize "DOCUMENT.New" type='MEGS.Limitation'}}'
                    data-type='limitation'
                  >
                    <i class='fas fa-plus'></i>
                    {{localize 'DOCUMENT.New' type='item'}}
                  </a>
              {{/if}}
                </div>
              </li>
              {{#each limitations as |item id|}}
                <li class='item flexrow item-row' data-item-id='{{item._id}}'>
                  <div class='item-name'>
                    <div class='item-image'>
                      <a class='rollable' data-roll-type='item'>
                        <img
                          src='{{item.img}}'
                          title='{{item.name}}'
                          width='24'
                          height='24'
                        />
                      </a>
                    </div>
                    <a
                      class='item-control item-edit'
                      title='{{localize "DOCUMENT.Update" type='Item'}}'
                    >
                      {{item.name}}
                    </a>
                  </div>
                  <div class='item-controls'>
                    <a
                      class='item-control item-edit'
                      title='{{localize "DOCUMENT.Update" type='Item'}}'
                    >
                      <i class='fas fa-edit'></i>
                    </a>
             {{#if ../flags.megs.edit-mode}}
                    <a
                      class='item-control item-delete'
                      title='{{localize "DOCUMENT.Delete" type='Item'}}'
                    >
                      <i class='fas fa-trash'></i>
                    </a>
              {{/if}}
                  </div>
                </li>
              {{/each}}
            </ol>
          </div>

        </div>
      </div>
      {{else}}
        <div class="message-panel">Due to technical limitations, Modifiers cannot be added to an unowned Power. Please add this Power to a character in order to add Modifiers.</div>
      {{/if}}

    </div>
  </section>
</form>
